// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.elm-instant {
}

.elm-instant-output {

    span.integer {
        color: aqua;
    }

    span.character {
        color: palegreen;
        /*color: lightyellow;*/
    }

    span.float {
        color: deeppink;
    }

    span.string {
        color: khaki;
    }

    span.string:before {
        color: cornsilk;
        content: '"';
    }

    span.string:after {
        color: cornsilk;
        content: '"';
    }

    span.empty-space {
        display: block;
        white-space: pre;
    }

    span.variable {
        font-weight: bold;
        color: yellow;
    }

    span.not-identified {
        background-color: blue;
        color: white;
    }

    span.error {
        background-color: red;
        color: white;
    }

    ul.list {
        margin: 0;
        padding: 0;
    }

    ul.list:before {
        color: crimson;
        content: '[';
    }

    ul.list:after {
        color: crimson;
        content: ']';
    }

    ul.list li {
        display: inline;
        list-style-type: none;
    }

    ul.list li:after {
        color: mintcream;
        content: ',';
    }

    ul.list li:last-child {
        content: ''
    }

    div.operator {

    }

}
